In [55]:
# defining list in python

#list of strings
# list1=["aman", "akhilesk","rahul","devansh",'rishab']

#list of numbers
list2=[1,2,3,4]
#mixed datalist
#list3=["ravi",60,102,"b","false"]
#nested list
list4=[[1234],[1,3,4,5],[1,2]]

In [56]:
# Getting a list slice
l =[10,20,30,40,50,60,70,80,90,100]
slice1=l[-7:-2]
print(slice1)

[40, 50, 60, 70, 80]

In [57]:
# Getting a list
l=[10,20,30,40,50,60,10,20,30,40,50,60,70,80,90,100]
slice1=l[5:-1]
slice2=l[3:-4]
print(slice1)
print(slice2)

[60, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[40, 50, 60, 10, 20, 30, 40, 50, 60]

In [58]:
list1=[1,2,3,'a','b']

In [59]:
#append
list1.append('c')
list1.append('d')
print(list1)

[1, 2, 3, 'a', 'b', 'c', 'd']

In [60]:
list1.insert(-3,"e")
print(list1)

[1, 2, 3, 'a', 'e', 'b', 'c', 'd']

In [61]:
arr=[1,2,3,'pinki']
arr.append('yadav')
print(arr)

[1, 2, 3, 'pinki', 'yadav']

In [62]:

#insertin array
arr.insert(1,'python')
print(arr)

[1, 'python', 2, 3, 'pinki', 'yadav']

In [63]:
#delete
x=arr.pop()
print(x)

yadav

In [64]:
arr.pop(3)
print(arr)

[1, 'python', 2, 'pinki']

In [65]:
arr.remove(2)
print(arr)

[1, 'python', 'pinki']

In [66]:
arr1=[1,2,3,4,5,6]
print(max(arr1))
print(min(arr1))

6
1

In [67]:
#reverse
arr1.reverse()
print(arr1)

[6, 5, 4, 3, 2, 1]

In [68]:
print(arr1[::-3])

[1, 4]

In [69]:
#count
arr2= (1,2,3,5,16,7,7,7,5,3,1,6,)
print(arr2.count(7))

3

In [70]:
#sort
arr3=[0,1,-1,123,1000,23]
arr3.sort()
print(arr3)

[-1, 0, 1, 23, 123, 1000]

In [71]:
#sort
arr3=[0,1,-1,123,1000,23]
arr3.sort(reverse=True)
print(arr3)

[1000, 123, 23, 1, 0, -1]

In [74]:
#extend
arr4=[1,2,3]
arr4.extend([1,3,4,5])
print(arr4)

#append
arr4=[1,3,6,7,8]
arr4.append([1,2,3,4])
print(arr4)

[1, 2, 3, 1, 3, 4, 5]
[1, 3, 6, 7, 8, [1, 2, 3, 4]]

In [77]:
arr5=['kashika','anu']
arr5.(max(arr))
arr5.(min(arr))

TypeError: '>' not supported between instances of 'str' and 'int'