In [3]:
#for  and while loops
#for-step loop
for x in range(15):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

for condition used
-iterating over a squence(list,tuple,string)
_iterating over a range

while condition based loop
i=0
while<10:
print(i)
i+=1
```
used for
-iterating until a condition is met
-iterating condition is not met
-iterating frever(if you don't break out of it)

In [6]:
movies = ["sherk","kunfu","how to train your dragon",'kerela story','ramsetu','aadipurush','mirzapur',
  'jab we met','lavarish','zara hatke zara bachke']

In [5]:
print(f'total movies = {len(movies)}')

total movies = 10

In [4]:
for movie in movies:
    print(movie)

sherk
kunfu
how to train your dragon
kerela story
ramsetu
aadipurush
mirazpur
jab we met
lavarish
zara hatke zara bachke

In [5]:
for movie in movies:
    print(movie,len(movie))

sherk 5
kunfu 5
how to train your dragon 24
kerela story 12
ramsetu 7
aadipurush 10
mirazpur 8
jab we met 10
lavarish 8
zara hatke zara bachke 22

In [8]:
for movie in movies:
    print(f'{movie:50} {len(movie)}')

sherk                                              5
kunfu                                              5
how to train your dragon                           24
kerela story                                       12
ramsetu                                            7
aadipurush                                         10
mirazpur                                           8
jab we met                                         10
lavarish                                           8
zara hatke zara bachke                             22

In [12]:
nums =(23,45,67,48,7,8,6,8,)
for i in nums:
    print(i,i**2)

23 12167
45 91125
67 300763
48 110592
7 343
8 512
6 216
8 512

In [13]:
for i in nums :
    if i%2==0:
        print(i,i**2)

48 2304
8 64
6 36
8 64

In [14]:
for i in nums :
    if i%2!=0:
        print(i,i**2)

23 529
45 2025
67 4489
7 49

In [15]:
sum(nums)

212

In [20]:
total_even = 0
for i in nums:
    if i % 2==0:
        total_even += i
print(total_even)

70

In [26]:
for i in nums:
    print(i)
    if i>60:
        break

23
45
67

In [36]:
x = ['apple',"potato",'banana','','orange','mango']
for item in x:
    if len(item)== 0:
        break
    print(item)

apple
potato
banana

In [1]:
errors=0
while True:
    username =input("enter user name:")
    password =input("Enter password:")
    if username =='admin' and password =='secret':
        print("login sucessfull")
        break
    elif errors == 3:
        print('to many errors')
        break
    else:
        print('invalid username?password')

        errors += 1

invalid username?password
invalid username?password
invalid username?password
to many errors

In [2]:
X = [
    ['economics', 4000],
    ['lets c',5000],
    ['merchant of venics',700],
    ['chacha chaudhary',870],
    ['champak',8000],
]

In [6]:
for item in X:
    for data in item:
        print(data) 
        print('---')

economics
---
4000
---
lets c
---
5000
---
merchant of venics
---
700
---
chacha chaudhary
---
870
---
champak
---
8000
---